body{
    padding: 0;
    margin: 0;
}
.background {
    background-image:url('https://c4.wallpaperflare.com/wallpaper/346/768/967/keanu-reeves-movies-men-actor-beard-hd-wallpaper-preview.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100%;
}
  .blur {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px); 
    height: 100vh;
    width: 100%;
  }
  iframe{
      display: block;
      margin: auto;
      padding-top: 100px;
  } 

  